<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body class="container-mo">
<header>
  <div class="end">
    <ul class="nav-links">
      <li><a href="/admin/users">Пользователи</a></li>
      <li><a href="/admin/items">Товары</a></li>
      <li><a href="/admin/categories">Категории</a></li>
      <li><a href="/admin/units">Ед. измерения</a></li>
      <li><a href="/admin/products">Продукты</a></li>
      <li><a href="/admin/stock">Склад</a></li>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти из аккаунта"/>
      </form>
    </ul>
  </div>
</header>
<div class="container-fo">
  <!-- Your admin homepage content goes here -->
</div>
</body>
</html>