<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
</head>

<body class="container-main">
<div class="container-form">

    <div class="exit-btn">
        <a href="/"><img class="exit-icon" alt="" /></a>
    </div>

    <div class="form-title">Вход</div>

    <div class="login-form">
        <form th:action="@{/login}" method="post">

            <div class="form-element">
                <div class="form-label">Логин</div>
                <input type="text" name="username" class="form-input" maxlength="13" required>
            </div>

            <div class="form-element">
                <div class="form-label">Пароль</div>
                <input type="password" name="password" class="form-input" placeholder="············" maxlength="20" required>
            </div>
            <div class="form-error" th:if="${param.error}">
                Неправильный логин или пароль.
            </div>
            <div class="form-element">
                <button class="button-ok">Подтвердить</button>
            </div>

        </form>
    </div>
</div>
</body>

</html>